aiohttp
anthropic==0.36.2
bert-score==0.3.13
datasets
debugpy
docutils
dspy-ai==2.5.31
fastapi
fireworks-ai==0.15.4
graphviz==0.20.3
huggingface-hub==0.24.5
langchain==0.3.4
langchain-text-splitters==0.3.0
langchainhub==0.1.20
langdetect==1.0.9
langgraph==0.2.39
langgraph-checkpoint==2.0.1
litellm==1.51.0
matplotlib==3.9.1.post1
numpy==1.26.4
openai==1.52.0
optuna==3.6.1
optunahub==0.1.0b0
pandas
datamodel-code-generator
astunparse